<!DOCTYPE html>
<html>
<head>
{% load static %}
<script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script type="text/javascript" src='{% static "js/global.js" %}' ></script>
<script type="text/javascript" src='{% static "js/mbta.js" %}' ></script>
<script type="text/javascript" src='{% static "js/weather.js" %}' ></script>
<link rel="stylesheet" type="text/css" href='{% static "css/mirror.css" %}'>
</head>

<body onload="startTime()">

<div id="time">
<p></p>
</div>
<div id="train" class="col-md-12">
  <div id="station" class="col-md-12">
    <p></p>
    <div id="southbound" class="col-md-6">
      <p></p>
      <div id="southbound-eta">
      <p></p>
      </div>
    </div>
    <div id="northbound" class="col-md-6">
      <p></p>
      <div id="northbound-eta">
      <p></p>
      </div>
    </div>
 </div>
</div>

<br />
<div id="current-weather" class="col-md-12">
  <div id="min-temp" class="col-md-4">
    <p></p>
  </div>
  <div id="icon" class="col-md-4">
    <image id="weather-icon-current"/>
  </div>
  <div id="max-temp" class="col-md-4">
    <p></p>
  </div>
</div>

<div id="forecast-weather" class="col-md-12">
</div>

</body>
</html>