<!DOCTYPE html>
<html>
<head>
{% load static %}
<script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script type="text/javascript" src='{% static "js/global.js" %}' ></script>
<script type="text/javascript" src='{% static "js/mbta.js" %}' ></script>
<script type="text/javascript" src='{% static "js/weather.js" %}' ></script>
<link rel="stylesheet" type="text/css" href='{% static "css/mirror.css" %}'>
</head>

<body onload="startTime()" class="noScroll">
<div id="frame">
  <div id="time">
    <h1></h1>
  </div>

  <br />
  <div id="forecast-weather" class="col-md-6">
  </div>

  <div id="current-weather" class="col-md-6">
    <div id="max-temp" class="col-md-12">
      <h1></h1>
    </div>
    <div id="icon" class="col-md-12">
      <img id="weather-icon-current" class="img-responsive pull-right"/>
    </div>
    <div id="min-temp" class="col-md-12">
      <h1></h1>
    </div>
  </div>

  <div id="train" class="col-md-12 pull-down">
    <div id="station" class="col-md-12">
      <h1></h1>
      <div id="southbound" class="col-md-6">
        <h1></h1>
        <div id="southbound-eta">
        <h1></h1>
        </div>
      </div>
      <div id="northbound" class="col-md-6">
        <h1></h1>
        <div id="northbound-eta">
        <h1></h1>
        </div>
      </div>
   </div>
  </div>

</div>

</body>
</html>