body {
  color: white;
  background-color: black;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

//body.noScroll { /* ...or body.dialogShowing */
//  overflow: hidden;
//}

#frame{
  height: 100vh;
  margin: 0 auto;
}

#time {
  text-align: center;
}

#train {
  text-align: center;
}

#current-weather {
  text-align: right;
}

#min-temp {
  color: blue;
}

#max-temp {
  color: red;
}

#forecast-weather {
  text-align: left;
}