body {
  color: white;
  background-color: black;
}

#time {
  text-align: center;
}

#train {
  text-align: center;
}

#current-weather {
  text-align: center;
}

#forecast-weather {
  text-align: center;
}