body {
  color: white;
  background-color: black;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

#frame{
  height: 100vh;
  margin: 0 auto;
}

#time {
  text-align: center;
}

#train {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

#current-weather {
  text-align: center;
}

#min-temp {
  color: #218ddc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#max-temp {
  color: #dc3b21;
  display: flex;
  align-items: center;
  justify-content: center;
}

#forecast-weather {
  text-align: center;
}